@model ProductViewModel
@using Microsoft.AspNetCore.Identity
@using Project.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="card col-4" style="width: 20rem; ">
    <a asp-controller="Products" asp-action="Product" asp-route-productId="@Model.Id"></><img class="card-img-top" style="width: 18rem;" src="@Model.ImageUrl" alt="Product Image"></a>
    <div class="card-body">
        <h5 class="card-title mt-1">@Model.Name</h5>
        <div>
            @if(User.Identity.IsAuthenticated == true && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
            {
               <a asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-warning">Edit</a>

               <a asp-controller="Products" asp-action="Delete" asp-route-productId="@Model.Id"
               class="btn btn-danger">Delete</a>

            }
        </div>
    </div>
</div>