@model UserInformation

@{
    ViewBag.Title = "Information about your purchase";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<h3>Delivery to adress</h3>

<div class="">
    <h3>Add an adress</h3>
    <form asp-controller="Users" asp-action="SaveAddress" method="post">
        <div class="mb-3">
            <label asp-for="@Model.FirstName" class="form-label">Name</label>
            <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.LastName" class="form-label">LastName</label>
            <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Address" class="form-label">Address</label>
            <textarea asp-for="@Model.Address" class="form-control" aria-required="true"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.City" class="form-label">City Or Village</label>
            <input asp-for="@Model.City" class="form-control" aria-required="true" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.PostalCode" class="form-label">PostalCode</label>
            <input asp-for="@Model.PostalCode" class="form-control" value="" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Country" class="form-label">Country</label>
            <input asp-for="@Model.Country" class="form-control" value="" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
            <input asp-controller="Users" asp-action="SaveAddress" type="submit" class="btn btn-primary" value="Save Address" />
    </form>
</div>


